<form action="/restaurants" method="post">
    <div class="wrap">
        <ul>
            <li><input type="text" placeholder="Name" name="name"></li>
            <li><input type="text" placeholder="English name" name="name_en"></li>
            <li><input type="text" placeholder="Category" name="category"></li>
            <li><input type="text" placeholder="Image" name="image"></li>
            <li><input type="text" placeholder="Location" name="location"></li>
            <li><input type="text" placeholder="Phone" name="phone"></li>
            <li><input type="text" placeholder="Google map" name="google_map"></li>
            <li><input type="text" placeholder="Rating" name="rating"></li>
            <li><input type="text" placeholder="Description" name="description"></li>
            <button type="submit">Create</button>
        </ul>
    </div>

    
</form>
